.card-board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 3px;
}

.title {
  font-family: var(--font-main);
  font-size: 40px;
  font-weight: 400;
  color: var(--color-main);
  margin-bottom: 50px;
}