.card-board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  transition: 0.5s 0.5s;
  gap: 3px;
}

.inactive {
  pointer-events: none;
  opacity: 0;
}

@media (orientation: portrait) {
  .card-board {
    grid-template-columns: repeat(5, 1fr);
  }
}