.page {
  --bg-main: #3fbcc5;
  --bg-front: #d1d1c5;
  --bg-back: #cccc3b;
  --bg-matched: #5dcf40;
  --shadow-front: #50504a;
  --shadow-back: #4b4b16;
  --shadow-matched: #234e18;
  --color-main: #226569;
  --font-main: Neucha, sans-serif;

  display: flex;
  min-width: 360px;
  min-height: 100dvh;
  padding: 20px;
  background-color: var(--bg-main);
}

.page_dark {
  --bg-main: #246b70;
  --bg-front: #81816d;
  --bg-back: #808026;
  --bg-matched: #377c27;
  --shadow-front: #2b2b23;
  --shadow-back: #25250b;
  --shadow-matched: #12290d;
  --color-main: #063336;
}

.content {
  width: 100%;
  max-width: 900px;
  margin: auto;
}