.card {
  aspect-ratio: 1 / 1;
  perspective: 300px;
  transition: 0.5s;
  cursor: pointer;
}

.card:hover {
  transform: rotate(5deg) translateY(-5px);
}

.card:has(.turned) {
  pointer-events: none;
}

.card__inner {
  position: relative;
  height: 100%;
  transform-style: preserve-3d;
  transition: 0.5s;
}

.card__front,
.card__back {
  position: absolute;
  inset: 0;
  padding: 10%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 8px;
  box-shadow: 1px 1px 4px gray;
}

.card__back {
  background-color: rgb(240, 255, 188);
}

.card__front {
  transform: rotateY(-180deg);
  background-color: white;
  transition: background-color 1s;
}

.card__image {
  display: block;
  width: 100%;
}

.turned {
  transform: rotateY(-180deg);
}

.matched {
  background-color: rgb(163, 252, 163);
}