.card {
  aspect-ratio: 1 / 1;
  perspective: 300px;
  transition: 0.5s;
  cursor: pointer;
}

.card:hover {
  transform: rotate(5deg) translateY(-5px);
}

.card:has(.turned) {
  pointer-events: none;
}

.card__inner {
  position: relative;
  height: 100%;
  transform-style: preserve-3d;
  transition: 0.5s;
}

.card__front,
.card__back {
  position: absolute;
  inset: 0;
  padding: 10%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 8px;
}

.card__back {
  background-color: var(--bg-back);
  box-shadow: 1px 1px 4px var(--shadow-back);
}

.card__front {
  transform: rotateY(-180deg);
  background-color: var(--bg-front);
  box-shadow: 1px 1px 4px var(--shadow-front);
}

.card__image {
  display: block;
  width: 100%;
}

.page_dark .card__image {
  filter: brightness(70%) saturate(70%);
}

.turned {
  transform: rotateY(-180deg);
}

.matched {
  animation:
    zoom 0.2s 0.5s 2 alternate linear,
    bg-change 0.2s 0.5s linear forwards;
}

@keyframes zoom {
  to {
    scale: 1.1;
  }
}

@keyframes bg-change {
  to {
    background-color: var(--bg-matched);
    box-shadow: 1px 1px 4px var(--shadow-matched);
  }
}
